<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ head.meta.title }}</title>
    
		<meta name="description" content="{{ head.meta.description }}">
    
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ page.url }}">
		<meta property="og:site_name" content="{{ head.meta.site_name }}">
		<meta property="og:title" content="{{ head.meta.title }}">
		<meta property="og:image" content="{% if head.meta.banner_url.length > 12 %} {{ head.meta.banner_url }} {% else %} ../../assets/favicons/banner.png {% endif %}">
		<meta property="og:description" content="{{ head.meta.description }}">

		<meta property="twitter:card" content="summary">
		<meta property="twitter:url" content="{{ page.url }}">
		<meta property="twitter:title" content="{{ head.meta.title }}">
		<meta property="twitter:image" content="{% if head.meta.banner_url.length > 12 %} {{ head.meta.banner_url }} {% else %} ../../assets/favicons/banner.png {% endif %}">
		<meta property="twitter:description" content="{{ head.meta.description }}">

		<meta name="viewport" content="width=device-width, initial-scale=1">
        
		<meta name="apple-mobile-web-app-title" content="{{ head.meta.title }}">
		<meta name="application-name" content="{{ head.meta.title }}">
		<meta name="theme-color" content="{{ head.meta.theme_color }}">
		<meta name="msapplication-TileColor" content="{{ head.meta.theme_color }}">
		<link rel="manifest" href="../../assets/site.webmanifest">
		<link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png">
		<link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.svg" color="{{ head.meta.theme_color }}">

		<link id="stylesheet" rel="stylesheet" href="../../assets/styles/main.css" media="all" onload="this.media='all'; this.onload=null; this.isLoaded=true">

		<link href="{% if head.font.length > 40 %} {{ head.font }} {% else %} https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap {% endif %}" rel="stylesheet">
	</head>
	<body
		{% if page.customColors %}
			style="background-color: {{ page.background }}; color: {{ page.color }};"
		{% endif %}
		data-module-load
	>
		<div data-load-container>

			<div class="o-transition">
				<div class="o-transition_item"
					{% if page.customColors %}
						style="background-color: {{ page.transition_left }};"
					{% endif %}
				></div>
				<div class="o-transition_item"
					{% if page.customColors %}
						style="background-color: {{ page.transition_right }};"
					{% endif %}
				></div>
			</div>

			<div class="o-loader"></div>
	
			{% include sections/header.liquid %}

			<div class="o-scroll" data-module-scroll="main" id="goto-top">

				{% if intro.show %}
					{% include sections/intro.liquid %}
				{% endif %}
				
				{% if about.show %}
					{% include sections/about.liquid %}
				{% endif %}
				
				{% if skills.show %}
					{% include sections/skills.liquid %}
				{% endif %}
				
				{% if work.show %}
					{% include sections/work.liquid %}
				{% endif %}
				
				{% if socials.show %}
					{% include sections/socials.liquid %}
				{% endif %}
				
				{% if thanks.show %}
					{% include sections/thanks.liquid %}
				{% endif %}
				
				{% include sections/footer.liquid %}
				
			</div>
		</div>

		<script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js" crossorigin="anonymous"></script>
		<script nomodule src="https://polyfill.io/v3/polyfill.min.js?features=fetch%2CCustomEvent%2CElement.prototype.matches%2CNodeList.prototype.forEach%2CAbortController" crossorigin="anonymous"></script>

		<script src="../../assets/scripts/app.js" defer></script>

	</body>
</html>